body {
    margin: 0;
    background: #F4F4F4;
}

.main {
    background: #6943FF;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

#title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 800;
}

#num {
    width: 117px;
    height: 83px;
    margin: 0 auto;
    border: 1px solid #B295FF;
    border-radius: 5px;
    font-size: 60px;
    line-height: 83px;
}

#btn {
    margin-top: 25px;
    margin-bottom: 35px;
    width: 117px;
    height: 42px;
    border-radius: 5px;
    border: none;
}

.group {
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.group-content  {
    margin-left: 25px;
    margin-right: 25px;
    background: #fff;   
}

.group-title {
    padding-top: 30px;
    color: #5A537B;
}

.group-p {
    padding-bottom: 15px;
    color: #353535;
}